//Descendant  combinator
<ul>
  <li>
    <div>Item 1</div>
    <ul>
      <li>Subitem A</li>
      <li>Subitem B</li>
    </ul>
  </li>
  <li>
    <div>Item 2</div>
    <ul>
      <li>Subitem A</li>
      <li>Subitem B</li>
    </ul>
  </li>
</ul>
<style>
li {
  list-style-type: disc;
}

li li {
  list-style-type: circle;
}
</style>
//child combinator
<div>
  <span>Span #1, in the div.
    <span>Span #2, in the span that's in the div.</span>
  </span>
</div>
<span>Span #3, not in the div at all.</span>
<style>

span {
  background-color: white;
}

div > span {
  background-color: lightgreen;
}
</style>

<br><br>
//General Sibling combinator
<br><span>This is not red.</span>
<p>Here is a paragraph.</p>
<code>Here is some code.</code>
<span>And here is a red span!</span>
<span>And this is a red span!</span>
<code>More code...</code>
<div> How are you? </div>
<p> Whatever it may be, keep smiling. </p>
<h1> Dream big </h1>
<h2> that's all. </h2>
<span>And yet again this is a red span!</span>

<style>
p ~ span {
  color: violet;
}
</style>

<br><br>
//Adjacent siblings

<ul>
  <li>One</li>
  <li>Two!</li>
  <li>Three</li>
</ul>

<style>
li:first-of-type + li {
  color: red;
}
</style>



<br><br>

//Column combinator

<table border="1">
  <colgroup>
    <col span="2"/>
    <col class="selected"/>
  </colgroup>
  <tbody>
    <tr>
      <td>A
      <td>B
      <td>C
    </tr>
    <tr>
      <td colspan="2">D</td>
      <td>E</td>
    </tr>
    <tr>
      <td>F</td>
      <td colspan="2">G</td>
    </tr>
  </tbody>
</table>
<style>
col.selected || td {
  background: purple;
  color: white;
  font-weight: bold;
}
</style>