<body>
<h1>Using combining the selectors and combinator,Styling based on State </h1>

<p>This is a paragraph of text. In the text is a <span class="special">span element</span> 
and also a <a href="http://google.com">link</a>.</p>

<p>This is the second paragraph. It contains an <em>emphasized</em> element.</p>

<ul>
    <li>Item one</li>
    <li>Item two</li>
    <li>Item <em>three</em></li>
</ul>
<style>
li {
  list-style-type: none;
}
a:hover {
    text-decoration: none;
}
  
</style>
<ul>
  <li>Item one</li>
  <li class="special">Item two</li>
  <li>Item <em>three</em></li>
</ul>
<style>
li em {
  color: rebeccapurple;
}
h1 + p {
  font-size: 200%;
}
li.special,
span.special {
  color: orange;
  font-weight: bold;
}
a:link {
  color: pink;
}

a:visited {
  color: green;
}
body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}
</style>
<h2>Using Functions</h2>

<div class="outer"><div class="box">The inner box is 100% - 50px.</div></div>

<div class="boxes"></div>
<style>
.boxes {
  margin: 40px;
  width: 70px;
  height: 120px;
  background-color: cyan;
  transform: rotate(0.10turn);
}
.outer {
  border: 2px solid black;
}

.box {
  padding: 10px;
  width: calc(100% - 50px);
  background-color:purple;
  color: orange;
}
</style>
<h3>Applying css to DOM</h3>
<p>
  Let's use:
  <span>Cascading</span>
  <span>Style</span>
  <span>Sheets</span>
</p>
<style>
span {
  border: 1px solid black;
  background-color: lime;
}
</style>
</body>