.container
{
background-color:skyblue;
width:650px;
height:600px;
 border: 1px solid black; 
margin: auto; 
padding:50px -50px 10px -30px;
text-align:center;
}

label
{
font-size:20px;
color:red;
}
table {
  border-collapse: separate;
  border-spacing: 25px;
margin-left:auto;
margin-right:auto;
  /* Apply cell spacing */
}
.con1
{

}
input[type="text"],
input[type="email"],
input[type="number"]
{
  width :60%;
  border: 1px solid #333;
  box-sizing: border-box;
}
input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}
#btn
{
font-size:16px;
font-weight:bold;
color:Green;
}
