<link rel="stylesheet" href="valid.css">

<center>
<h1>Validation in Html</h1>
<form>
<p>Required Attribute</p>
<labelWould you prefer tea or coffee?</label>
<input type="text" name="prefer" required/>
<p>Validating against Regular Expression</p>
<labelWould you prefer tea or coffee?</label>
<input type="text" name="prefer" required pattern="[Tt]ea|[Cc]offee"/>
<p>Constraining the values of the entries</p>
<labelWould you prefer tea or coffee?</label>
<input type="text" name="prefer" required minlength="6" maxlength="6"/><br><br>
<label>How many would you like?</label>
<input type="number" name="num"  value="1" min="1" max="10"/><br>
<br>

  <button>Submit</button>
</form>

</center>